<div class="grid_container">
  <div class="admindiv">
    <% if current_user %>
      Logged in as <%= current_user.email %>.
      <%= link_to "Log Out", logout_path %>
    <% else %>
      <%= link_to "Sign Up", signup_path %> or
      <%= link_to "Log In", login_path %>
    <% end %>
    <p id=”notice”><%= notice %></p>
  </div>

  <div class="titlediv">
    <h1 class="title">
      <%= @homepage_data.title %>
    <h1>
  </div>
  <div class="aboutmediv">
    <h2 class="about_me">
      <%= @homepage_data.about_me %>
    <h2>
  </div>
  <div class="qualificationdiv">
    <h2 class="qualifications">
      <table class="qualification_table">
        <tr>
          <th>Topic</th>
          <th>Level</th>
          <th>Grade</th>
        </tr>
        <tr>
          <% Qualification.all.each do |qualification| %>
            <td><%= qualification.topic %></td>
            <td><%= qualification.level %></td>
            <td><%= qualification.grade %></td>
          <% end %>
        </tr>
      </table>
    </h2>
  </div>
  <div class="workdiv">
    <h2 class="work">
      <table class="work_table">
        <tr>
          <th>Organisation</th>
          <th>Years</th>
          <th>Role</th>
          <th>Tasks</th>
        </tr>
        <tr>
          <% Work.all.each do |job| %>
            <td><%= job.organisation %></td>
            <td><%= job.years %></td>
            <td><%= job.role %></td>
            <td><%= job.tasks %></td>
          <% end %>
        </tr>
      </table>
    </h2>
  </div>
</div>

