<%= form_with(model: work, local: true) do |form| %>
  <% if work.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(work.errors.count, "error") %> prohibited this job from being saved:</h2>
      <ul>
      <% work.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="organisation">
    <%= form.label :organisation %>
    <%= form.text_field :organisation %>
  </div>

  <div class="role">
    <%= form.label :role %>
    <%= form.text_field :role %>
  </div>

  <div class="years">
    <%= form.label :years %>
    <%= form.text_field :years %>
  </div>

    <div class="tasks">
    <%= form.label :tasks %>
    <%= form.text_area :tasks %>
  </div>

  <div class="submit">
    <%= form.submit %>
  </div>

<% end %>